version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:80"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: biralo
      DB_NAME: users
      DB_PORT: 3306
    depends_on:
      - db
    volumes:
      - ./website/pages:/var/www/html/website/pages

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: biralo
      MYSQL_DATABASE: users
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: